.App {
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-around;
  background-color: rgb(62, 75, 80);
  align-items: center;
  min-height: 10vh;
  color: white;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  list-style: none;
  text-decoration: none;
}
